<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr align-center>
                <td>S.No</td>
                <td>Student Name</td>
                <td>Location</td>
                <td>contact Number</td>
                <td>E-mail Id</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>E.Sai kumar</td>
                <td>Bangolore</td>
                <td>8297268284</td>
                <td>saienagaluru04@gmail.com</td>
            </tr>
            <tr>
                <td>2</td>
                <td>E.Mahesh kumar</td>
                <td>Nellore</td>
                <td>7306806300</td>
                <td>maheshenagaluru04@gmail.com</td>
            </tr>
            <tr>
                <td>3</td>
                <td>K.Sunnel</td>
                <td>Bangolore</td>
                <td>8297268284</td>
                <td>suneelkatta@gmail.com</td>
            </tr>
            <tr>
                <td>4</td>
                <td>E.Sai kumar</td>
                <td>Bangolore</td>
                <td>8297268284</td>
                <td>saienagaluru04@gmail.com</td>
            </tr>
            <tr>
                <td>5</td>
                <td>M.Guru prasad</td>
                <td>Hyd</td>
                <td>9568426875</td>
                <td>guruptasad009@gmail.com</td>
            </tr>
        </tbody>
    </table>
</body>
</html>